VisualElement {}

.gummy-entry {
    padding-right: 5px;
    padding-left: 30px;
    justify-content: center;
}

.align-horizontal {
    /* padding-top: 3px; */
    flex-direction:  row;
    justify-content: space-between;
    align-items: center;
}

.gummy-entry-value {
    color: #597D35;
}